<launch>
  <group ns="practice">
    <node pkg="practice" name="lightsensors" type="lightsensors.py" required="true" />
    <node pkg="practice" name="motors" type="motors.py" required="true" />
    <node pkg="practice" name="agent" type="agent.py" output="screen" required="true" />
  </group>
</launch>
